html {
	height: 100%;
}

body {
	line-height: 2;
	background-image: linear-gradient(139deg, #85B4DF 0%, #7FE6D7 100%);
	background-repeat: no-repeat;
	font-family: 'Noto Sans JP', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	background-attachment: fixed;
}

ul {
	padding-left: 0;
}

.navigation {
	display: flex;
	justify-content: center;
}

.navigation-item {
	list-style: none;
	padding: 10px;
}

.navigation-item:hover {
	opacity: 0.5;
	cursor: pointer;
}

.is-selected {
	border-bottom: 3px solid #00C4CC;
}

.repo-container {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.repo-avatar {
	height: 100px;
    width: 100px;
    border-radius: 30%;
}

.repo-item {
	align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px 40px;
}

.repo-name {
	width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 15px;
}